html, body{
  margin: 0 auto;
  padding: 10px;
}

div.list-container {
    height: auto;
    max-height: 400px;
    width: 500px;
    overflow-y: scroll;
}

ul {
    padding: 0px;
    width:100%;
}

ul li {
    background-color: #fff;
    padding-left: 5px;
    border-bottom: 0.5px solid #C3C3C3;
    line-height: 35px;
    list-style: none;
    overflow: hidden;
    transition: background-color 0.5s;
}

img.favicon-img {
    padding-top: 6px;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}
.cont-span {
    display: inline-flex;
    width: 460px;
}
.tab-title {
    padding-left: 10px;
    font-size: 12px;
    color: #370040;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.close-tab{
  cursor: pointer;
  padding-right: 15px;
  float: right;
  color: #370040;
}
span.close-tab img {
    color: #370040; 
    display: none;
    padding-right: 5px;
    padding-top: 10px;
    width: 15px;
    height: 15px;
    pointer-events: none;
}
[draggable] {
    user-select: none;
}
.selected-li{
  border: 0.5px solid red;
  opacity: 0.5;
}
input{
  padding-right: 30px;
  float:right;
  margin-top:40px;
}
.open-tab{
  background-color: #370040;
}

.open-tab .tab-title, open-tab span.close-tab{
  color: #fff;
}

.theme-span{
  width:20px;
  height:20px;
  margin-left: 10px;
  border-radius: 3px;
}

div.popup-header{
  width:100%;
  display: inline-block;
}

div.search-bar-cont{
  top:40px;
  float:right;
}

div.default{
  background-color: #36304A;
  float:right;
}
